@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
  --cor-de-fundo:rgb(111, 111, 235);
  --branco:#ffffff;
  --preto:#000000;
}

.começo {
        background-color: var(--cor-de-fundo);
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;   
        font-size: 20px; 
  }
  .item-um{
      display: inline-block;
      margin: 0 20px;
      font-size: 30px;
      font-family:Playfair Display ;
      color: black;
  
  }
  
  .imagem-santo{
           width: 35%;
           margin-left: 10%;
           
  }
  
  .colegio{
          background: linear-gradient(  rgb(111, 111, 235) 85%, white 15%);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0; 
  }
  .colegio-div{
      width: 25%;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    
   
  }
  
  .paragrafo{
    padding: 20px 0;
  }
